header{
    position: fixed;
    top:0;
    z-index: 1;
    width:100%;
    padding:1rem;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: white;
}
header h1 button{
    font-size: 2rem;
    font-weight: bold;
}
header nav ul{
    display: flex;
}
header nav ul li{
    padding: 10px;
}
header nav ul li button{
    font-size: 1.2rem;
}

header.active{
    background-color: #000;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}