section .title h5{
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #ed4848;
}
section .do-me::after{
    content:"";
    display:block;
    clear: both;
}
section .do-me .do-inner{
    width:21%;
    padding:1rem 1rem 1.5rem 1rem;
    float:left;
    background-color: #fff;
    margin-right: 5%;
    margin-bottom: 3rem;
    cursor: pointer;

    min-height:230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}
section .do-me .do-inner h3{
    font-size: 2rem;
}
section .do-me .do-inner:nth-child(4n){
    margin-right:0;
}
section .do-me .do-inner img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 1rem;
}